name: Build on Pull requests and Push

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
        ocaml-version:
          - 4.13.1

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - run: opam install dune

      - run: opam exec -- dune build

      - name: Upload the build artifact
        uses: actions/upload-artifact@v2
        with:
          name: gene-{{ matrix.os }}.exe
          path: _build/default/gene.exe
